article{
    margin: 30px;
    margin-bottom: 50px;
    margin-top: 50px;
    justify-content: center;
    display:flex;
}
article img{
    object-fit: cover;
    align-self: stretch;
    width:40vw;
    height:25vw;
    border-radius: 5px;
}
article div.main{
    margin-left: 125px;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 5px;
    border: 1px solid #285B50;
}
article h3{
    color:#285B50;
    display: flex;
    font-family: Vollkorn;
    font-size: 45px;
    line-height: 40px;
    margin-left:5px;
    margin-right: 5px;
    margin-top:15px;
    margin-bottom:10px;
    justify-content: center;
}
article p{
    font-size: 25px;
    margin-bottom: auto;
    margin-left:25px;
    margin-right: 25px;
    width:35vw;
    margin-top:10px;
    align-self: stretch;
}
article a{
    margin-bottom: 15px;
    margin-right: 15px;
    text-align: center;
    width: 110px;
    font-size: 22px;
    text-decoration: none;
    color: white;
    background-color: #9AC31E;
    padding: 5px;
    border-radius: 22px;
}
article div.stupid{
    margin-bottom: 0px;
    display: flex;
    align-self: flex-end;
    justify-content: flex-end;
}