article{
    margin: 30px;
    margin-bottom: 50px;
    margin-top: 50px;
    justify-content: center;
    display:flex;
}
article img{
    object-fit: cover;
    align-self: stretch;
    width:40vw;
    height:25vw;
    border-radius: 5px;
}
article div.main{
    margin-left: 125px;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 5px;
    border: 1px solid #285B50;
}
article h3{
    color:#285B50;
    display: flex;
    font-family: Vollkorn;
    font-size: 45px;
    line-height: 40px;
    margin-left:5px;
    margin-right: 5px;
    margin-top:15px;
    margin-bottom:10px;
    justify-content: center;
}
article p{
    font-size: 25px;
    margin-bottom: auto;
    margin-left:25px;
    margin-right: 25px;
    width:35vw;
    margin-top:10px;
    align-self: stretch;
}
article a{
    margin-bottom: 15px;
    margin-right: 15px;
    text-align: center;
    width: 110px;
    font-size: 22px;
    text-decoration: none;
    color: white;
    background-color: #9AC31E;
    padding: 5px;
    border-radius: 22px;
}
article div.stupid{
    margin-bottom: 0px;
    display: flex;
    align-self: flex-end;
    justify-content: flex-end;
}

@media screen and (max-width: 992px) {
    article{
        margin: 30px;
        margin-bottom: 50px;
        margin-top: 50px;
        justify-content: center;
        display:flex;
        flex-direction: column;

    }

    article h3{
        justify-content: center;
        color:#285B50;
        display: flex;
        width:90vw;
        font-family: Vollkorn;
        font-size: 45px;
        line-height: 40px;
        text-align: center;
        margin-left:auto;
        margin-right: auto;
        margin-top:20px;
        margin-bottom:10px;
    }
    
    article img{ 
        /* image */
        margin-right: -25px;
        margin-bottom: 20px;
        object-fit: cover;
        align-self: center;
        width: 60vw;
        height: 30vh;
        border-radius: 5px;
    }


    article p{
        /* words  */
        font-size: 25px;
        margin-bottom: 10px;;
        margin-left: 25px;
        margin-right: 25px;
        width:75vw;
        margin-top:10px;
        align-self: stretch;
    }
    article div.main{
 
        width: auto;
       
        border-radius: 5px;
        border: 1px solid #285B50;
        display:flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-self: center;

    }
    article, article img{
        margin-left: -1px;

    }
    article a{
        margin-bottom: 15px;
    
  
        text-align: center;
        width: 110px;
        font-size: 22px;
        text-decoration: none;
        color: white;
        background-color: #9AC31E;
        padding: 5px;
        border-radius: 22px;
    }

}