    article{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align:center ;
    }
    p{
        
        color:  rgba(74, 142, 170, 1);
        border: 1px solid;
        
        font-size: 22px;
      
    }

     h3{
        font-size: 25px;
        height: auto;
        width: auto;
    }
    
  
    