article{
    margin: 30px;
    margin-bottom: 50px;
    margin-top: 50px;
    justify-content: center;
    display:flex;
}


#image1{
    margin-left:15px;
}
#image2{
    margin-left: 15px;
    width: 15.2vw;
}
#image3{
  margin-left: 15px;  
  width: 15.2vw;
}
article.main{
    width: 93vw;
}

article.main img{
    object-fit: cover;
    align-self: stretch;
    max-width:40vw;
    height: 40vh;
    max-height: 50vh;
    border-radius: 5px;
}

article.main div{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 5px;
    border: 1px solid #285B50;
}


article h3{
    color:#285B50;
    display: flex;
    font-family: Vollkorn;
    font-size: 45px;
    line-height: 40px;
    margin-left:5px;
    margin-right: 5px;
    margin-top:15px;
    margin-bottom:10px;
    justify-content: center;
}
article.main p{
    color:rgba(90, 150, 177, 1);
    font-size: 25px;
    margin-bottom: auto;
    margin-left:25px;
    margin-right: 25px;
    margin-top:10px;
    align-self: stretch;
}
article.main a{
    margin-bottom: 15px;
    margin-right: 15px;
    text-align: center;
    font-size: 22px;
    text-decoration: none;
    color: white;
    background-color: #9AC31E;
    padding: 5px;
    border-radius: 22px;
}

