    
    p{
        color:  rgba(74, 142, 170, 1);
        border: 1px solid;
        text-align: start;
        font-size: 22px;
    }
    
    h3{
        font-size: 25px;
        text-align: left;
        height: auto;
        width: auto;
    }

    