/* Please try to keep CSS in the order of the page. (Header at the top of this document, footer at the bottom, etc.) */
main{
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 97vw;
    margin-top: 30px;
    border-radius: 5px;
    border: 1px solid #285B50;
}
main h2{
    font-family: Zilla Slab;
    font-style: italic;
    font-weight: 300;
    margin:15px;
    color:#6997AA;
    text-align: center;
    font-size: 30px;
    line-height: 36px;
}
main p{
    text-align: justify;
    margin:15px;
    color:#4A8EAA;
    text-align: left;
    font-family: Zilla Slab;
    font-size: 24px;
    line-height: 29px;
}
article{
    margin-top: 30px;
    margin-left:20px;
    margin-right:20px;
    justify-content: center;
    display:flex;
}
article img{
    object-fit: cover;
    align-self: stretch;
    width:60vw;
    height:25vw;
    border-radius: 5px;
}
article div.main{
    margin-left: 20px;
    border-radius: 5px;
    border: 1px solid #285B50;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
}
article h3{
    justify-content: center;
    color:#285B50;
    display: flex;
    width:35vw;
    font-family: Vollkorn;
    font-size: 45px;
    line-height: 40px;
    text-align: center;
    margin-left:auto;
    margin-right: auto;
    margin-top:20px;
    margin-bottom:10px;
}
article p{
    font-size: 25px;
    margin-bottom: auto;
    margin-left:25px;
    margin-right: 25px;
    width:35vw;
    margin-top:10px;
    align-self: stretch;
}
article a{
    margin-bottom: 15px;
    margin-right: 15px;
    text-align: center;
    width: 110px;
    font-size: 22px;
    text-decoration: none;
    color: white;
    background-color: #9AC31E;
    padding: 5px;
    border-radius: 22px;
}
article div.stupid{
    margin-bottom: 0px;
    display: flex;
    align-self: flex-end;
    justify-content: flex-end;
}
article:last-of-type{
    margin-bottom: 30px;
}