/* Don't forget that media queries are required for this project */
/* Please try to keep CSS in the order of the page. (Header at the top of this document, footer at the bottom, etc.) */
h1 {
    color:rgba(90, 150, 177, 1);
    font-size: 96px;
    height:160px;
    font-family: Vollkorn;
    display: flex;
    align-items: center;
    text-align: center;
    line-height:134px;
    justify-content: center;
    margin: 0px 35px;
}
nav{
    display: flex;
    align-items: center;
    margin: 0px 15px;
    justify-content: center;
}
nav div{
    margin: 0px;
    padding: 0px;
    display: flex;
}
nav a:hover{
    background-color:rgba(40, 91, 80, 1);
    color:rgb(255, 248, 205);
}
nav a.active{
    background-color:rgba(40, 91, 80, 1);
    color:rgb(255, 248, 205);
}
nav a{
    background-color: white;
    border: 1px solid #285B50;
    width:19vw;
    list-style: none;
    align-items: center;
    text-align: center;
    display: block;
    font-family: Zilla Slab;
    font-size: 28px;
    line-height: 47px;
    text-decoration: none;
    color: rgba(90, 150, 177, 1);
    padding:0px;
    margin: 0px 2.5px;
}
nav .dropdown1content{
    position: absolute;
    display: none;
    flex-direction: column;
    margin-top: 49px;
}
.dropdown1{
    flex-direction: column;
}
.dropdown1:hover .dropdown1content{
    display: flex;
}
.dropdown1content a{
    display: block;
}