/* Don't forget that media queries are required for this project */
/* Please try to keep CSS in the order of the page. (Header at the top of this document, footer at the bottom, etc.) */
h1 {
    color:rgba(90, 150, 177, 1);
    font-size: 96px;
    height:160px;
    font-family: Vollkorn;
    display: flex;
    align-items: center;
    text-align: center;
    line-height:134px;
    justify-content: center;
    margin: 0px 35px;
}
nav{
    display: flex;
    align-items: center;
    margin: 0px 15px;
    justify-content: center;
}
nav div{
    margin: 0px;
    padding: 0px;
    display: flex;
}
nav a:hover{
    background-color:rgba(40, 91, 80, 1);
    color:rgb(255, 248, 205);
}
nav a.active{
    background-color:rgba(40, 91, 80, 1);
    color:rgb(255, 248, 205);
}
nav a{
    background-color: white;
    border: 1px solid #285B50;
    width:19vw;
    list-style: none;
    align-items: center;
    text-align: center;
    display: block;
    font-family: Zilla Slab;
    font-size: 28px;
    line-height: 48px;
    text-decoration: none;
    color: rgba(90, 150, 177, 1);
    padding:0px;
    margin: 0px 2.5px;
    transition-duration:0.5s;
}
nav .dropdowncontent{
    position: absolute;
    overflow: hidden;
    height:0px;
    width:0px;
    flex-direction: column;
    margin-left: .5vw;
    margin-top: 50px;
    display: flex;
    transition: height .5s;
}
nav .dropdown{
    flex-direction: column;
}
nav .dropdown:hover .dropdowncontent{
    height:150px;
    width:auto;
}
nav .dropdowncontent a{
    width: 18vw;
    display: block;
}
nav .dropdowncontent a:hover{
    background-color: rgba(90, 150, 177, 1);
}
nav .dropdowncontent .active{
    background-color: rgba(90, 150, 177, 1);
}
header img{
    border: 1px solid #5A96B1;
    border-radius: 10px;
    object-fit: cover;
    margin-top:30px;
    margin-left: auto;
    margin-right: auto;
    width:95vw;
    display: flex;
}
footer{
    margin: 15px;
    margin-top: 50px;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
    display: flex;
}
footer div{
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 35vw;
}
footer h4{
    margin: 0px;
    line-height:25px;
    text-align: center;
    color:#285B50;
    font-size: 24px;
    width: 35vw;
}
footer ul{
    margin: 0px;
    margin-bottom: 15px;
    padding:0px;
    list-style: none;
    width: 35vw;
}
footer li{
    text-align:center;
    border-top: 1.5px solid #285B50;
    color:#5AB18C;
}