article{
    justify-content: space-around;
    margin-top: 30px;
    margin-left: 80px;
    margin-right: 80px;
    display: flex;
    flex-direction:row;
}

article div{
    width:90vw;
  
    margin-bottom: -20px;
    padding: 15px;
    align-items: center;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border: 1px solid #285B50;
}
article div h2{
    margin-top: -3px;
    font-family: Vollkorn;
    font-size: 35px;
    line-height: 35px;
    text-align: center;
    color: #285B50;
}
article div h4{
    margin-top: -3px;
    text-align: center;
}
article div p{
    margin: 10px;
    font-family: Zilla Slab;
    font-size: 25px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: #5A96B1;
 
}
  

article p.malice{
 
    width: 90vw;
    padding:15px;
    padding-bottom: 30px;
    font-family: Zilla Slab;
    font-size: 24px;
    line-height: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #5A96B1;
    border-radius: 5px;
    border: 1px solid #285B50;    
}

img.wrath {
    object-fit:cover;
    width: 14vw;
    height: 23vh;
    margin: 0px 30px;
}

#hatred {
    margin: 15px;
    margin-top: -10px;
    width: 20vw;

}

@media screen and (max-width: 992px) {
    article{
        justify-content: space-around;
        margin-top: 30px;
        margin-left: 80px;
        margin-right: 80px;
        display: flex;
        flex-direction:column;
    }
    article div{
        width:90vw;
      
        margin-bottom: -20px;
        margin-right: 20px;
        padding: 15px;
        align-items: center;
        display: flex;
        flex-direction: column;
        border-radius: 5px;
        border: 1px solid white;
    }
img.wrath {
    object-fit:cover;
    width: 30vw;
    height: 23vh;
    margin: 0px 30px;
}

#hatred {
    margin: 15px;
    margin-top: -100px;
    width: 200vw;

}
}